# 6.1 Sourcing open data

## This script contains the following points:

1. Data cleaning: basic data cleaning and consistency checks
2. Data understanding: review the variables and perform basic descriptive

## 1. Data cleaning

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [5]:
# Import dataset
path = r'C:\Users\admin\08-2024 Open-Sourced Data Analysis'
data = pd.read_csv(os.path.join(path, 'Data', 'adhad.csv'), index_col = False)

In [6]:
# Basic checks
data.describe()

,YearStart,YearEnd,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,LocationID
count,284142.000000,284142.000000,192808.000000,192808.000000,192597.000000,192597.000000,284142.000000
mean,2018.596065,2018.657735,37.676757,37.676757,33.027824,42.595333,800.322677
std,2.302815,2.360105,25.213484,25.213484,24.290016,26.156408,2511.564977
min,2015.000000,2015.000000,0.000000,0.000000,-0.700000,1.300000,1.000000
25%,2017.000000,2017.000000,15.900000,15.900000,12.600000,19.700000,19.000000
50%,2019.000000,2019.000000,32.800000,32.800000,27.000000,38.900000,34.000000
75%,2021.000000,2021.000000,56.900000,56.900000,49.400000,64.600000,49.000000
max,2022.000000,2022.000000,100.000000,100.000000,99.600000,100.000000,9004.000000

In [7]:
# Check for mixed types

for col in data.columns.tolist():
    weird = (data[[col]].map(type) != data[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (data[weird]) > 0:
        print(col)

Data_Value_Footnote_Symbol
Data_Value_Footnote
StratificationCategory2
Stratification2
Geolocation

In [8]:
data['Data_Value_Footnote_Symbol'].value_counts(dropna = False)

Data_Value_Footnote_Symbol
NaN     174166
****     78875
&        14224
~        12459
#         3361
**        1057
Name: count, dtype: int64

In [9]:
data['Data_Value_Footnote'].value_counts(dropna = False)

Data_Value_Footnote
NaN                                                                                                                                174166
Sample size of denominator and/or age group for age-standardization is less than 50 or relative standard error is more than 30%     78875
Regional estimates may not represent all states in the region                                                                       14224
No Data Available                                                                                                                   12459
Fewer than 50 States reporting                                                                                                       3361
Estimate is not comparable to those generated using data from years prior to 2019 due to survey question changes                     1057
Name: count, dtype: int64

In [10]:
data['StratificationCategory2'].value_counts(dropna = False)

StratificationCategory2
Race/Ethnicity    178431
Gender             68838
NaN                36873
Name: count, dtype: int64

In [11]:
data['Stratification2'].value_counts(dropna = False)

Stratification2
NaN                         36873
White, non-Hispanic         36450
Hispanic                    36326
Black, non-Hispanic         35770
Native Am/Alaskan Native    35021
Asian/Pacific Islander      34864
Female                      34596
Male                        34242
Name: count, dtype: int64

In [12]:
data['Geolocation'].value_counts(dropna = False)

Geolocation
NaN                                 30489
POINT (-120.1550313 44.56744942)     5916
POINT (-75.54397043 42.82700103)     5787
POINT (-111.5871306 39.36070017)     5368
POINT (-82.40426006 40.06021014)     5311
POINT (-157.8577494 21.30485044)     5164
POINT (-76.60926011 39.29058096)     5132
POINT (-83.62758035 32.83968109)     5124
POINT (-84.71439027 44.66131954)     5113
POINT (-117.0718406 39.49324039)     4950
POINT (-68.98503134 45.25422889)     4949
POINT (-99.42677021 31.82724041)     4947
POINT (-89.53803082 32.7455101)      4939
POINT (-78.45789046 37.54268067)     4936
POINT (-89.81637074 44.39319117)     4928
POINT (-80.71264013 38.6655102)      4856
POINT (-85.77449091 35.68094058)     4844
POINT (-77.86070029 40.79373015)     4810
POINT (-81.04537121 33.9988213)      4807
POINT (-86.63186076 32.84057112)     4807
POINT (-106.240581 34.52088095)      4805
POINT (-84.77497105 37.64597027)     4795
POINT (-97.52107021 35.47203136)     4779
POINT (-147.722059 64.84507996)      4763
POINT (-86.14996019 39.76691045)     4761
POINT (-92.44568007 31.31266064)     4728
POINT (-92.56630005 38.63579078)     4719
POINT (-88.99771018 40.48501028)     4705
POINT (-72.64984095 41.56266102)     4704
POINT (-94.7942005 46.35564874)      4701
POINT (-114.36373 43.68263001)       4698
POINT (-71.52247031 41.70828019)     4698
POINT (-99.36572062 41.64104099)     4695
POINT (-100.3735306 44.35313005)     4689
POINT (-93.81649056 42.46940091)     4681
POINT (-100.118421 47.47531978)      4679
POINT (-111.7638113 34.86597028)     4671
POINT (-120.9999995 37.63864012)     4654
POINT (-77.036871 38.907192)         4649
POINT (-108.1098304 43.23554134)     4641
POINT (-98.20078123 38.3477403)      4632
POINT (-75.57774117 39.00883067)     4630
POINT (-74.27369129 40.13057005)     4627
POINT (-92.27449074 34.74865012)     4618
POINT (-79.15925046 35.46622098)     4605
POINT (-72.51764079 43.62538124)     4561
POINT (-120.4700108 47.52227863)     4545
POINT (-106.1336109 38.84384076)     4536
POINT (-71.50036092 43.65595011)     4475
POINT (-72.08269067 42.27687047)     4319
POINT (-81.92896054 28.93204038)     4173
POINT (-109.4244206 47.06652897)     4162
POINT (-66.590149 18.220833)         3714
POINT (144.793731 13.444304)         3597
POINT (-64.896335 18.335765)         1556
Name: count, dtype: int64

In [13]:
# Fix the mixed types

data['Data_Value_Footnote_Symbol'] = data['Data_Value_Footnote_Symbol'].astype('str')
data['Data_Value_Footnote'] = data['Data_Value_Footnote'].astype('str')
data['Stratification2'] = data['Stratification2'].astype('str')
data['Geolocation'] = data['Geolocation'].astype('str')

Mixed types check result: several mixed types are found and the issues have been fixed.

In [15]:
# Check for missing values

data.isnull().sum()

RowId                             0
YearStart                         0
YearEnd                           0
LocationAbbr                      0
LocationDesc                      0
Datasource                        0
Class                             0
Topic                             0
Question                          0
Data_Value_Unit                   0
DataValueTypeID                   0
Data_Value_Type                   0
Data_Value                    91334
Data_Value_Alt                91334
Data_Value_Footnote_Symbol        0
Data_Value_Footnote               0
Low_Confidence_Limit          91545
High_Confidence_Limit         91545
StratificationCategory1           0
Stratification1                   0
StratificationCategory2       36873
Stratification2                   0
Geolocation                       0
ClassID                           0
TopicID                           0
QuestionID                        0
LocationID                        0
StratificationCategoryID1         0
StratificationID1                 0
StratificationCategoryID2         0
StratificationID2                 0
dtype: int64

Missing values check result: Several values are missing. However, deleting them would lose a significant prportion of the data so I will just leave the data like this.

In [17]:
# Check for duplicates

dups = data[data.duplicated()]

In [18]:
dups

Empty DataFrame
Columns: [RowId, YearStart, YearEnd, LocationAbbr, LocationDesc, Datasource, Class, Topic, Question, Data_Value_Unit, DataValueTypeID, Data_Value_Type, Data_Value, Data_Value_Alt, Data_Value_Footnote_Symbol, Data_Value_Footnote, Low_Confidence_Limit, High_Confidence_Limit, StratificationCategory1, Stratification1, StratificationCategory2, Stratification2, Geolocation, ClassID, TopicID, QuestionID, LocationID, StratificationCategoryID1, StratificationID1, StratificationCategoryID2, StratificationID2]
Index: []

[0 rows x 31 columns]

Duplicates check result: No duplicates are found.

## 2. Descriptive analysis

In [21]:
# Check the columns of dataset

data.columns

Index(['RowId', 'YearStart', 'YearEnd', 'LocationAbbr', 'LocationDesc',
       'Datasource', 'Class', 'Topic', 'Question', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value', 'Data_Value_Alt',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'Geolocation', 'ClassID', 'TopicID', 'QuestionID',
       'LocationID', 'StratificationCategoryID1', 'StratificationID1',
       'StratificationCategoryID2', 'StratificationID2'],
      dtype='object')

In [22]:
# Check the size of dataset

data.shape

(284142, 31)

In [23]:
# Desciptive statistics of dataset

data.describe()

,YearStart,YearEnd,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit,LocationID
count,284142.000000,284142.000000,192808.000000,192808.000000,192597.000000,192597.000000,284142.000000
mean,2018.596065,2018.657735,37.676757,37.676757,33.027824,42.595333,800.322677
std,2.302815,2.360105,25.213484,25.213484,24.290016,26.156408,2511.564977
min,2015.000000,2015.000000,0.000000,0.000000,-0.700000,1.300000,1.000000
25%,2017.000000,2017.000000,15.900000,15.900000,12.600000,19.700000,19.000000
50%,2019.000000,2019.000000,32.800000,32.800000,27.000000,38.900000,34.000000
75%,2021.000000,2021.000000,56.900000,56.900000,49.400000,64.600000,49.000000
max,2022.000000,2022.000000,100.000000,100.000000,99.600000,100.000000,9004.000000

The column of "LocationID" doesn't really represent real numeric values and could be changed to a string

In [25]:
# Change the data type of "LocationID" column
data['LocationID'] = data['LocationID'].astype('str')

In [26]:
# Double check with the change

data.describe()

,YearStart,YearEnd,Data_Value,Data_Value_Alt,Low_Confidence_Limit,High_Confidence_Limit
count,284142.000000,284142.000000,192808.000000,192808.000000,192597.000000,192597.000000
mean,2018.596065,2018.657735,37.676757,37.676757,33.027824,42.595333
std,2.302815,2.360105,25.213484,25.213484,24.290016,26.156408
min,2015.000000,2015.000000,0.000000,0.000000,-0.700000,1.300000
25%,2017.000000,2017.000000,15.900000,15.900000,12.600000,19.700000
50%,2019.000000,2019.000000,32.800000,32.800000,27.000000,38.900000
75%,2021.000000,2021.000000,56.900000,56.900000,49.400000,64.600000
max,2022.000000,2022.000000,100.000000,100.000000,99.600000,100.000000

In [27]:
data.dtypes

RowId                          object
YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Data_Value_Unit                object
DataValueTypeID                object
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
StratificationCategory1        object
Stratification1                object
StratificationCategory2        object
Stratification2                object
Geolocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
LocationID                     object
StratificationCategoryID1      object
StratificationID1              object
StratificationCategoryID2      object
StratificationID2              object
dtype: object

In [28]:
# Export dataset

data.to_csv(os.path.join(path, 'Data', 'adhad_cleaned.csv'))